@import url('https://fonts.googleapis.com/css?family=Oswald');
body{
  background: transparent !important;
  opacity: 1.0;
}
span{
  color: rgb(253, 253, 255) !important;
}
h1{
  text-shadow: 2px 2px 6px #000000;
  margin-top: 0.4% !important;
  margin-bottom: 0 !important;
  font-size: 30px;
  font-family: 'Oswald', bold;
  color: rgb(255, 255, 255) !important;
}
#timedisplay {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  font-family: 'Oswald', bold;
  align-items: center;
  margin-top: 5px;
}

#timedisplay .logo {
  width: 279px;
  height: 35px;
}

#horario h3, #players h3 {
  text-shadow: 2px 2px 4px #000000;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  height: 25px;
  font-weight: 900 !important;
  color: rgb(255, 255, 255);
  font-family: 'Oswald', bold;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 8px !important;
}


#logoer span {
  color: rgb(25, 203, 191) !important;
  font-weight: 700 !important;
}

#logoer h1 {
  text-shadow: 2px 2px 4px #000000;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 29px;
  font-family: 'Oswald', bold;
  font-weight: 600 !important;
  color: rgb(255, 255, 255) !important;
  text-align: center;
}

#logoer img {
  position: relative;
  max-width: 150px;
  top: 0;
  left: 0;
}

#logoer .active {
  background-color: #717171;
}

#logoer .fade {
  webkit-animation-name: fade;
  webkit-animation-duration: 2.0s;
  animation-name: fade;
  animation-duration: 2.0s;
}